*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}

h1{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.imagen-container{
    display: flex;
}

.imagen-container img {
    width: 100%;
}

article {
    padding: 10px;
    box-shadow: 2px #000;

}